In [7]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (1.5.12)
Requirement already satisfied: urllib3 in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (1.26.9)
Requirement already satisfied: certifi in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2022.5.18.1)
Requirement already satisfied: python-slugify in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (6.1.2)
Requirement already satisfied: python-dateutil in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: tqdm in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (4.64.0)
Requirement already satisfied: requests in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2.28.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: colorama in c:\users\devarsh\appdata\local\programs\python\python310\lib\site-packages (from tqdm->kaggle) (0.4.4)

In [11]:
!kaggle competitions download -c titanic

Downloading titanic.zip to d:\ssssssssshhhh\ml models\kaggle-titanic

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|██████████| 34.1k/34.1k [00:00<?, ?B/s]

In [12]:
!mkdir data

In [17]:
!cp

'cp' is not recognized as an internal or external command,
operable program or batch file.

In [18]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv('data/train.csv')

In [20]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q